<aside class="side">
  <!-- <h2>申込みシステムはこちら</h2>
  <div class="menu">
    <div class="menu_item menu_link">
      <div class="menu_item_banner">
        <a href="https://sockbase.jp/login" target="_blank">
          Sockbase ログイン
        </a>
      </div>
    </div>
  </div> -->
  <h2>最新情報はこちら！</h2>
  <div class="menu">
    <div class="menu_item menu_link menu_link_twitter">
      <div class="menu_item_banner">
        <a href="https://twitter.com/nct_kohatabe" target="_blank">
          Twitter @nct_kohatabe
        </a>
      </div>
    </div>
  </div>
  <h2>支援印刷所様</h2>
  <div class="menu">
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_purple">直接搬入</span
        ><span class="label label_gray">オレンジ工房</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.orangekoubou.com/" target="_blank">
          <img src="/printing/orange.gif" />
        </a>
      </div>
    </div>
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_purple">直接搬入</span
        ><span class="label label_gray">株式会社栄光</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.eikou.com/" target="_blank">
          <img src="/printing/eikou.gif" />
        </a>
      </div>
    </div>
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_purple">直接搬入</span
        ><span class="label label_gray">ねこのしっぽ</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.shippo.co.jp/neko/" target="_blank">
          <img src="/printing/neko.gif" />
        </a>
      </div>
    </div>
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_purple">直接搬入</span
        ><span class="label label_gray">PrintWalk</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.print-walk.co.jp/" target="_blank">
          <img src="/printing/printwalk.jpeg" />
        </a>
      </div>
    </div>
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_green">宅配搬入</span
        ><span class="label label_gray">サンライズパブリケーション</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.sunrisep.co.jp/" target="_blank">
          <img src="/printing/sunrise-pub.gif" />
        </a>
      </div>
    </div>
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_green">宅配搬入</span
        ><span class="label label_gray">サンライズオンデマンドサービス</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.sunrise-os.com/" target="_blank">
          <img src="/printing/sunrise-ond.jpeg" />
        </a>
      </div>
    </div>
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_green">宅配搬入</span
        ><span class="label label_gray">プリンティングイン株式会社</span>
      </div>
      <div class="menu_item_banner">
        <a href="http://www.pico-net.com/doujinshi/" target="_blank">
          <img src="/printing/pico.gif" />
        </a>
      </div>
    </div>
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_green">宅配搬入</span
        ><span class="label label_gray">丸正インキ有限会社</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://www.marusho-ink.co.jp/" target="_blank">
          <img src="/printing/marusho.gif" />
        </a>
      </div>
    </div>
  </div>

  <h2>姉妹イベント</h2>
  <div class="menu">
    <div class="menu_item">
      <div class="menu_item_badge">
        <span class="label label_blue">小春六花</span
        ><span class="label label_gray">小春六花はヨーグルトが食べたい</span>
      </div>
      <div class="menu_item_banner">
        <a href="https://kohatabe.jp/" target="_blank">
          <img src="https://kohatabe.jp/banner.png" />
        </a>
      </div>
    </div>
  </div>
</aside>
